PORT=3000
NODE_ENV=development

POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_MAX_CONNECTIONS=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

RABBITMQ_URL=
RABBITMQ_ORDERS_QUEUE=